---
import SocialShare from "./socialShare/SocialShare.astro";
---

<div class="mb-2 flex w-full flex-row items-center justify-between">
  <p class="hidden text-sm text-l/primary md:flex dark:text-d/secondary">
    Partager
  </p>
  <span class="text-sm text-l/primary dark:text-d/primary"
    >{new Date().getFullYear()}&copy; Tous droits réservés</span
  >
  <SocialShare
    title="MarvinL.com − Un profil de développeur qui devrait te plaire !"
    description="Découvre MarvinL.com, développeur web fullstack en freelance depuis la Guadeloupe et plonge dans mon univers créatif. 💼💻"
  />
</div>
