---
import { persona } from "../persona";
import Link from "./Link.astro";
---

<footer class="bg-l/primary dark:bg-d/secondary p-3">
  <h3 class="text-l/bg dark:text-d/secondary w-fit py-1 px-3 bg-l/secondary dark:bg-d/tertiary text-xl font-bold mb-2">Discutons</h3>
  <p class="text-l/bg dark:text-d/tertiary">
    tu peux m'envoyer un fax :
    <Link target="_self" title={persona.email.replace('@','[@]')} url={`mailto:${persona.email}`} />
  </p>
  <p class="w-full dark:text-d/tertiary text-l/bg ">
    ou me faire vibrer sur les réseaux :
    {
      persona.contacts.map((c) => (
      <span class="text-l/tertiary dark:text-d/tertiary after:content-['_−_'] last:after:content-none uppercase"><Link target="_blank" title={c.title} url={c.url} /></span>
      ))
    }
  </p>
</footer>
