---
interface Props {
  url: string;
  target: string;
  title?: string;
  noDecorate?: boolean;
  invert?: boolean;
}

const {
  url,
  target,
  noDecorate = false,
  invert = false,
  title = url,
} = Astro.props;
---

<a
  class:list={[
    "inline-flex w-fit items-center gap-x-1 text-sm  outline-none focus:text-l/primary" +
      " focus-visible:text-l/primary active:text-l/primary dark:text-d/primary dark:hover:bg-d/tertiary" +
      " dark:hover:text-d/secondary dark:focus:text-d/primary dark:focus-visible:text-d/primary" +
      " dark:active:text-d/primary",
    invert
      ? "text-l/bg hover:bg-l/tertiary hover:text-l/bg"
      : "text-l/tertiary  hover:bg-l/tertiary" + " hover:text-l/bg",
    !noDecorate && invert && "decoration-l/tertiary",
    !noDecorate && "underline decoration-l/primary dark:decoration-d/tertiary",
  ]}
  title={title}
  href={url}
  target={target}
>
  <slot name="before" />
  <slot />
  <slot name="after" />
</a>
