---
import Link from "./Link.astro"
---

<article
  class='rounded-[1.6rem] border border-l/primary/10 bg-white/80 p-5 text-base text-l/secondary shadow-[10px_10px_0_0_rgba(17,17,17,0.06)] dark:border-d/tertiary dark:bg-d/secondary dark:text-d/muted dark:shadow-[10px_10px_0_0_rgba(0,0,0,0.24)]'
>
  <p
    class='font-mono text-[0.68rem] uppercase tracking-[0.28em] text-l/tertiary dark:text-d/tertiary'
  >
    Note
  </p>
  <p class='mt-4 leading-7'>
    MarvinL.com me sert de laboratoire public. J'y garde les projets qui ont
    quitte le carnet, les experiences qui valent une trace et les idees qui
    finissent par trouver une forme.
  </p>
  <p class='mt-3 leading-7'>
    Si tu connais plutot la facette
    <Link url='https://macojaune.com' target='_blank' class='mx-1'>
      @macojaune
    </Link>
    des reseaux sociaux, ici c'est la version plus calme, plus rangee et plus utile
    de l'atelier.
  </p>
</article>
